absl_py==1.3.0
gym==0.25.2
sgf==0.5
torch==2.0.1
torchvision==0.15.2
python-snappy==0.6.1
matplotlib==3.6.2
pandas==1.5.3
# requirements from visualization
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
docutils==0.21.2
ffpyplayer==4.5.1
idna==3.7
KaTrain==1.14.0
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd==0.104.1
numpy==1.24.3
pillow==10.4.0
pygame==2.6.0
Pygments==2.18.0
PyQt6==6.7.0
PyQt6-Qt6==6.7.1
PyQt6-sip==13.6.0
requests==2.32.3
sente==0.4.2
sgfmill==1.1.1
urllib3==2.2.2
